.idea
__pycache__
techmed_test
report images
*.h5
*.xml
koen_mri_room
random_tests
Preiswerk/data
Preiswerk/datasets
Preiswerk/experiments
Preiswerk/OCM-LRCN_example_data.tar.gz
wandb
techmed_test_2703/
GAN/train_video/3-4-1057
GAN/train_video/*.avi
GAN/train_video/18-04-1133
Preiswerk/.DS_Store
Veenstra/A
Veenstra/new_A
XD-GRASP
*.seq
heat_camera
*.pickle
*.mp4